# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
cbm_v5
cbm_v5.zip
cbm_v6
cbm_v6.zip
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor/rules/global*.mdc
docs/ziliao
.qoder/rules/global*.mdc
