/*
请阅读：https://github.com/unocss/unocss/blob/main/packages/reset/tailwind-compat.md
*/

/*
1. 防止内边距和边框影响元素宽度。（https://github.com/mozdevs/cssremedy/issues/4）
2. 只需设置 border-width 即可为元素添加边框。（https://github.com/tailwindcss/tailwindcss/pull/116）
2. [UnoCSS]：可通过 CSS 变量 `--un-default-border-color` 覆盖默认边框颜色
*/
*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-color: var(--un-default-border-color, #e5e7eb); /* 2 */
    border-style: solid; /* 2 */
    border-width: 0; /* 2 */
}

/*
1. 在所有浏览器中使用统一合理的行高。
2. 防止 iOS 设备横竖屏切换时自动调整字体大小。
3. 使用更易读的 Tab 宽度。
4. 默认使用用户配置的无衬线字体 `sans`。
*/
html {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji'; /* 4 */

    line-height: 1.5; /* 1 */
    text-size-adjust: 100%; /* 2 */
    tab-size: 4; /* 3 */
}

/*
1. 清除所有浏览器默认外边距。
2. 继承 html 的行高，方便直接在 html 标签上通过类名设置行高。
*/
body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
}

/*
1. 在 Firefox 中设置正确高度。
2. 修复 Firefox 中边框颜色继承问题。（https://bugzilla.mozilla.org/show_bug.cgi?id=190655）
3. 保证水平分隔线默认可见。
*/
hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
}

/*
在 Chrome、Edge、Safari 中设置正确的文本装饰样式。
*/
abbr:where([title]) {
    text-decoration: underline dotted;
}

/*
清除标题标签默认的字体大小和字重。
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
重置链接样式，采用按需开启样式而不是默认自带样式的思路。
*/
a {
    color: inherit;
    text-decoration: inherit;
}

/*
在 Edge 和 Safari 中设置正确的字重。
*/
b,
strong {
    font-weight: bolder;
}

/*
1. 默认使用用户配置的等宽字体 `mono`。
2. 修复所有浏览器中 em 单位奇怪的字体缩放行为。
*/
code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        'Liberation Mono',
        'Courier New',
        monospace; /* 1 */

    font-size: 1em; /* 2 */
}

/*
在所有浏览器中设置正确字体大小。
*/
small {
    font-size: 80%;
}

/*
防止 `sub` 和 `sup` 下标、上标元素影响行高。
*/
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. 清除 Chrome、Safari 表格内容默认文本缩进。(https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. 修复 Chrome、Safari 表格边框颜色继承问题。(https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. 默认移除表格边框之间的间隙。
*/
table {
    text-indent: 0; /* 1 */
    border-collapse: collapse; /* 3 */
    border-color: inherit; /* 2 */
}

/*
1. 在所有浏览器统一字体样式。
2. 清除 Firefox、Safari 默认外边距。
3. 清除所有浏览器默认内边距。
*/
button,
input,
optgroup,
select,
textarea {
    padding: 0; /* 3 */
    margin: 0; /* 2 */
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-weight: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
}

/*
移除 Edge 和 Firefox 中默认继承的文本大写转换样式。
*/
button,
select {
    text-transform: none;
}

/*
1. 修复 iOS 和 Safari 中可点击控件无法自定义样式的问题。
2. 清除按钮默认样式。
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: auto; /* 1 */

    /* 会影响大部分组件库按钮样式，因此关闭 */

    /* https://github.com/unocss/unocss/issues/2127 */
    background-color: transparent;
    background-image: none; /* 2 */
}

/*
为所有可聚焦元素使用现代 Firefox 焦点样式。
*/
:-moz-focusring {
    outline: auto;
}

/*
移除 Firefox 额外的 `:invalid` 无效表单样式。(https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
    box-shadow: none;
}

/*
在 Chrome 和 Firefox 设置正确的垂直对齐方式。
*/
progress {
    vertical-align: baseline;
}

/*
修复 Safari 数字输入框增减按钮光标样式。
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. 修复 Chrome、Safari 搜索框奇怪的默认外观。
2. 修复 Safari 的外轮廓偏移样式。
*/
[type='search'] {
    appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/*
移除 macOS 下 Chrome、Safari 搜索框内置内边距。
*/
::-webkit-search-decoration {
    appearance: none;
}

/*
1. 修复 iOS 和 Safari 可点击控件样式自定义问题。
2. 在 Safari 将字体属性设置为继承。
*/
::-webkit-file-upload-button {
    font: inherit; /* 2 */
    appearance: auto; /* 1 */
}

/*
在 Chrome 和 Safari 设置正确的 display 属性。
*/
summary {
    display: list-item;
}

/*
清除对应元素默认间距与边框。
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*
默认禁止文本框水平缩放，仅允许垂直调整大小。
*/
textarea {
    resize: vertical;
}

/*
1. 重置 Firefox 占位符默认透明度。(https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. 将占位符文字默认颜色设为配置的灰色 400。
*/
input::placeholder,
textarea::placeholder {
    color: #9ca3af; /* 2 */
    opacity: 1; /* 1 */
}

/*
设置按钮默认鼠标指针样式。
*/
button,
[role='button'] {
    cursor: pointer;
}

/*
禁用状态按钮不使用手型光标。
*/
:disabled {
    cursor: default;
}

/*
1. 默认将替换元素设为块级元素。(https://github.com/mozdevs/cssremedy/issues/14)
2. 添加 `vertical-align: middle`，让替换元素默认对齐更合理。(https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   某些工具可能会报不合理的 Lint 错误，但这是有意为之。
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
}

canvas {
    max-width: 100%;
}

/*
限制图片、视频宽度不超过父容器，并保持原始宽高比。(https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
    max-width: 100%;
    height: auto;
}

/* 让带有 HTML hidden 属性的元素默认保持隐藏 */
[hidden] {
    display: none;
}
